# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
build
.next
out

# Environment variables
.env.backup
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

# Android/Java
android/app/build/
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/local.properties
android/gradle.properties
android/*.iml
android/app/*.iml
android/*.iml

# iOS
ios/

# Capacitor
capacitor.config.json
capacitor.config.ts

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp files
.temp/
.tmp/

.vercel
